<!-- Modal -->
<div class="modal fade" id="servicesModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title">Serviços Vinculados</h5>
        <button type="button" class="btn btn-close" data-dismiss="modal"></button>
      </div>
      
      <!-- Body -->
      <div class="modal-body">

        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Serviço</th>
              <th scope="col">Preço</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success">+ Serviços</button>
      </div>
    </div>
  </div>
</div>