{% extends 'layouts/auth_base.html' %}

{% block title %}Página de Login{% endblock %}


{% block quote %}
<p id="left-quote">"É, talvez você tenha que se preocupar..."</p>
<small id="left-quote" style="font-style: italic;">— Thor (O cachorro)</small>
{% endblock %}

{% block content %}

<h2>Está tudo bem,</h2>
<p>Você se lembra da sua dica mestre?</p>
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Usuário" autocomplete="off">
</div>
<div class="input-group mb-1">
    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Dica  Mestre" autocomplete="off">
</div>
<div class="input-group mb-3 d-flex justify-content-between"></div>
<div class="input-group mb-3">
    <button class="btn btn-lg btn-primary w-100 fs-6">Autenticar</button>
</div>
<div class="row">
    <small>Voltar ao <a href="#">menu principal</a></small>
    {% endblock %}