{% extends 'layouts/auth_base.html' %}

{% block title %}Página de Login{% endblock %}

{% block content %}

<!-- Container Principal -->
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!-- Container de Login -->
    <div class="row rounded-5 p-3 shadow box-area">
        <!-- Caixa da Esquerda -->
        <div class="col-md-5 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
            id="image-left">
            <p id="left-quote">"Pedale mais, preocupe-se menos."</p>
            <small id="left-quote" style="font-style: italic;">— Lance Armstrong</small>
        </div>
        <!-- Caixa da Direita -->
        <div class="col-md-7 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>É bom te ver de novo,</h2>
                    <p>O que você vai fazer para mudar o mundo hoje?</p>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Usuário">
                </div>
                <div class="input-group mb-1">
                    <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Senha">
                </div>
                <div class="input-group mb-5 d-flex justify-content-between">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="formCheck">
                        <label for="formCheck" class="form-check-label text-secondary"><small>Lembre-se de mim!</small></label>
                    </div>
                    <div class="forgot">
                        <small><a href="#">Esqueceu sua senha?</a></small>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-lg btn-warning w-100 fs-6">Logar no Sistema</button>
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-lg btn-light w-100 fs-6"><img src="/static/images/login/google.png"
                            style="width:20px" class="me-2"><small class="box">Usar sua conta Google</small></button>
                </div>
                <div class="row">
                    <small>Está sem uma conta? <a href="#">Crie uma!</a></small>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}