<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link de Estilos da Base -->
    {% include 'includes/base_styles.html' %}
    <!-- Link de Estilos da Home -->
    {% include 'includes/home_styles.html' %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Include do Pre Loader -->
    {% include 'includes/loader_wheel.html' %}

    <div class="sidebar close">
        <div class="logo-details">
            <i><img src="{{ url_for('static', filename='icons/sidebar/BikeLogo.svg') }}" alt="Ícone de Sidebar"></i>
            <span class="logo_name">Tave<span>ll</span>a<span>'</span>s</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i><img src="{{ url_for('static', filename='icons/sidebar/Painel.svg') }}"
                            alt="Ícone de Sidebar"></i>
                    <span class="link_name">Painel Inicial</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Painel Inicial</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i><img src="{{ url_for('static', filename='icons/sidebar/Demandas.svg') }}"
                            alt="Ícone de Sidebar"></i>
                    <span class="link_name">Demandas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Demandas</a></li>
                </ul>
            </li>

            <li>
                <div class="iocn-link">
                    <a href="{{ url_for('register.register_page')}}">
                        <i><img src="{{ url_for('static', filename='icons/sidebar/Cadastrar.svg')}}"
                                alt="Ícone de Sidebar"></i>
                        <span class="link_name">Adicionar</span>
                    </a>
                    <i class='bi bi-caret-down-fill arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="{{ url_for('register.register_page')}}">Adicionar</a></li>
                    <li><a href="{{ url_for('register.register_bikes')}}">Magrelas</a></li>
                    <li><a href="{{ url_for('register.register_services')}}">Serviços</a></li>
                    <li><a href="{{ url_for('register.register_clients')}}">Clientes</a></li>
                </ul>
            </li>

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i><img src="{{ url_for('static', filename='icons/sidebar/User.svg') }}"
                                alt="Ícone de Sidebar"></i>
                        <span class="link_name">Usuários</span>
                    </a>
                    <i class='bi bi-caret-down-fill arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Usuários</a></li>
                    <li><a href="{{ url_for('register.register_users')}}">Cadastrar</a></li>
                    <li><a href="{{ url_for('register.register_cargos')}}">Cargos</a></li>
                </ul>
            </li>


            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i><img src="{{ url_for('static', filename='icons/sidebar/Estoque.svg')}}"
                                alt="Ícone de Sidebar"></i>
                        <span class="link_name">Estoque</span>
                    </a>
                    <i class='bi bi-caret-down-fill arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Estoque</a></li>
                    <li><a href="{{ url_for('register.register_product')}}">Cadastrar</a></li>
                    <li><a href="{{ url_for('register.register_product_type')}}">Tipos</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i><img src="{{ url_for('static', filename='icons/sidebar/Suporte.svg') }}"
                            alt="Ícone de Sidebar"></i>
                    <span class="link_name">Suporte</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Suporte</a></li>
                </ul>
            </li>
            <li>

                <div class="profile-details">
                    <div class="profile-content">
                        <img src="{{ url_for('static', filename='images/tmp/robson.png') }}" alt="temporario">

                    </div>
                    <div class="name-job">
                        <div class="profile_name">Robson</div>
                        <div class="job">Dono</div>
                    </div>
                    <i class="bi bi-box-arrow-right"></i>
                </div>
            </li>
        </ul>
    </div>
    <!-- Conteúdo das Páginas -->
    <section class="content-section px-5">
        <div class="base-content">
            <i class="bi bi-list"></i>
            <div class="mt-3 pt-2">
                <h3 class="mb-0">{% block pagetitle %}{% endblock %}</h3>
                <span>{% block pagesubtitle %}{% endblock %}</span>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </section>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>

</html>