/* Google Fonts Poppins Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,400;1,500;1,600&display=swap');

/* Zerar Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Corpo da Base */
body {
    color: white;
    background-color: #121418;;
}

/* Links */
a {
    color: #00C39A;
    text-decoration: none;
}

a:hover {
    color: #00C39A;
    text-decoration: underline;
}
