label.gray-label {
    font-weight: 500;
    font-size: 0.8rem;
    color: rgba(179, 179, 179, 0.841);
}

label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.yellow-text {
    color: #FFC32E;
}

.bold-placeholder::placeholder {
    font-weight: bold;
}

.form-select {
    color: #FFC32E;
  }
  