/* Trocar os ícones para preto depois */

/* Títulos da Página */
.page-titles {
    margin: 0;
    padding-bottom: 0.3rem;
}

.page-titles h4,
.page-titles p {
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
}

/* Header */
.header-box {
    background-image: url("/static/icons/home_page/header/bike_background.svg");
    background-repeat: no-repeat;
    background-position: 105% 5%;
    background-size: 30%;
    background-color: #009C7B;
    height: 14rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
    color: white;
}

/* Informações do Header */
.header-title {
    text-align: center;
    font-size: 1.0rem;
    font-weight: 600;
    color: #c53535;
    margin-top: 0.1rem;
}

.header-text {
    text-align: center;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* Indicadores do Header */
.indicators {
    display: flex;
    gap: 2rem;
    margin-bottom: 0.6rem;
}

.indicator {
    display: flex;
    gap: 1rem;
}

.indicator img {
    background-image: white;
    height: 3.5rem;
}

.indicator h3,
.indicator p {
    margin: 0;
}

/* Grid dos Botões */
.buttons-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "a x c y"
        "b x d y";
}

/* Links dos Botões */
.buttons-grid a {
    color: white;
    text-decoration: none;
}

.buttons-grid a:hover {
    color: white;
    text-decoration: none;
}

/* Botões */
.button {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
}

.button img {
    margin: auto;
    height: 4rem;
}

.button-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
}

.button-list {
    font-weight: 500;
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.button-list-item {
    padding: 0.3rem 0;
    margin-bottom: 0.6rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.185);
}

.button-list-more {
    margin: auto;
    width: 50%;
}

.button-list img {
    height: 1rem;
    padding-right: 0.2rem;
}

/* Disposição de Layout dos Botões */
.anchor1 {
    display: flex;
    grid-area: a;
    background: #7C3B8A;
}

.anchor2 {
    display: flex;
    grid-area: b;
    background: #aa2c2c;
}

.anchor3 {
    text-align: center;
    grid-area: x;
    background: #0949A2;
}

.anchor4 {
    display: flex;
    grid-area: c;
    background: #338455;
}

.anchor5 {
    display: flex;
    grid-area: d;
    background: rgb(187, 131, 35);
}

.anchor6 {
    text-align: center;
    grid-area: y;
    background: #8C0E25;
}