* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header-box {
    background-image: url("/static/icons/home_page/header/bike_background.svg");
    background-repeat: no-repeat;
    background-position: 105% 10%;
    background-size: 25%;
    background-color: #00C39A;
    height: 14rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-title {
    text-align: center;
    font-size: 1.0rem;
    font-weight: 600;
    color: #c53535;
    margin-top: 0.1rem;
}

.header-text {
    margin-bottom: 0%;
    padding-top: 0;
    padding-bottom: 0;
    color: rgb(29, 29, 29)
}

/* Header Indicators */
.indicators {
    display: flex;
    gap: 2rem;
    margin-bottom: 0.2rem;
}

.indicator {
    display: flex;
    gap: 1rem;
}

.indicator img {
    height: 3.5rem;
    opacity: 0.8;
}

.indicator-info {
    color: black;
    padding-bottom: 0.4rem;
}

.indicator-info h3,
.indicator-info p {
    margin: 0;
}

/* Shortcut Titles */
.shortcut-titles {
    padding-bottom: 0.8rem;
}

.shortcut-titles h3,
.shortcut-titles span {
    margin: 0;
}

/* Shortcuts */
.shortcuts {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a x c y" 
                         "b x d y";
}

.shortcut {
    text-align: center;
    align-items: center;
    color: rgb(19, 19, 19);
    border-radius: 1rem;
    padding: 0.5rem;
}

.shortcut-info {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 3rem;
}

.shortcut-info h5,
.shortcut-info h2 {
    margin: 0;
}


.shortcut img {
    height: 4.4rem;
    opacity: 0.8;
}

.sh-small {
    display: flex;
}

.sh-list {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 0.6rem;
}

.sh-line {
    background: crimson;
}

.sh-1 {
    background: #FFF155;
}
.sh-2 {
    background: #FFF155;
}
.sh-3 {
    background: #FFF155;
    grid-area: x;
}
.sh-4 {
    background: #FFF155;
}
.sh-5 {
    background: #FFF155;
}
.sh-6 {
    background: #FFF155;
    grid-area: y;
}