{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock %}
{% block pagetitle %}Painel Inicial{% endblock %}
{% block pagesubtitle %}O que vamos consertar hoje?{% endblock %}

{% block content %}
<!-- Container -->
<div class="container d-flex flex-column mt-4">

    <div class="row">
        <!-- Caixa do Header -->
        <div class="col-12 header-box mb-3">

            <!-- Informações Textuais -->
            <div class="row">
                <div class="col-12">
                    <p class="header header-title">Outubro</p>
                    <h3 class="header header-text">Evite que mais placas como essa apareçam...</h3>
                    <h5 class="header header-text">Veja quais são as suas demandas do dia!</h5>
                </div>
            </div>

            <!-- Indicadores do Mês -->
            <div class="row">
                <div class="col-12 indicators">

                    <!-- Bikes Consertadas -->
                    <div class="indicator">
                        <img src="{{ url_for('static', filename='icons/home_page/header/bikes_consertadas.svg') }}">
                        <div class="indicator-info">
                            <p>Bikes consertadas:</p>
                            <h3>21</h3>
                        </div>
                    </div>

                    <!-- Bikes Aguardando -->
                    <div class="indicator">
                        <img src="{{ url_for('static', filename='icons/home_page/header/bikes_aguardando.svg') }}">
                        <div class="indicator-info">
                            <p>Bikes aguardando:</p>
                            <h3>21</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Títulos dos Atalhos -->
    <div class="shortcut-titles">
        <h3>Atalhos</h3>
        <span>Mais agilidade no dia a dia.</span>
    </div>
    <!-- Atalhos -->
    
    <!-- Nova Bike -->
    <div class="row shortcuts">
        <div class="shortcut sh-small sh-1">
            <img src="{{ url_for('static', filename='icons/home_page/header/bikes_consertadas.svg') }}">
            <div class="shortcut-info">
                <h5>Nova Bike</h5>
                <h2>129</h2>
            </div>
        </div>
        
        <div class="shortcut sh-small sh-1">
            <img src="{{ url_for('static', filename='icons/home_page/header/bikes_consertadas.svg') }}">
            <div class="shortcut-info">
                <h5>Nova Bike</h5>
                <h2>129</h2>
            </div>
        </div>

        <div class="shortcut sh-3">
            <h5>Relatórios</h5>
            <div class="sh-list">
                <div class="row sh-line">
                    <p>teste</p>
                </div>
                <div class="row sh-line">
                    <p>teste</p>
                </div>
                <div class="row sh-line">
                </div>
            </div>
        </div>


        <div class="shortcut sh-small sh-4">
            <img src="{{ url_for('static', filename='icons/home_page/header/bikes_consertadas.svg') }}">
            <div class="shortcut-info">
                <h5>Nova Bike</h5>
                <h2>129</h2>
            </div>
        </div>

        <div class="shortcut sh-small sh-5">
            <img src="{{ url_for('static', filename='icons/home_page/header/bikes_consertadas.svg') }}">
            <div class="shortcut-info">
                <h5>Nova Bike</h5>
                <h2>129</h2>
            </div>
        </div>
        
        <div class="shortcut sh-6">
            <h5>Tipos</h5>
            <div class="sh-list">
                <div class="sh-line">
                    <p>teste</p>
                </div>
                <div class="sh-line">
                    <p>teste</p>
                </div>
                <div class="sh-line">
                </div>
            </div>
        </div>

    </div>
    {% endblock %}