{% extends 'layouts/base.html' %}

{% block title %}Demandas{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/tables.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='/css/admin/demands.css') }}" />
{% endblock %}


{% block content %}
<div class="page-title text-center">
  <h2>Demandas</h2>
</div>
<div class="container mt-3 d-flex justify-content-center">

  <div class="demands-box">

    <table class="table table-dark table-striped table-hover table-bordered align-middle">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Bicicleta</th>
          <th>Status</th>
          <th>Serviços</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <!-- Joao Gomes -->
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <img src="/static/images/tmp/joao.png" alt="" style="width: 45px; height: 45px" class="rounded-3" />
              <div class="ms-3">
                <p class="fw-bold mb-0">João Gomes</p>
                <p class="text-muted mb-0">(19) 99175-3149</p>
              </div>
            </div>
          </td>
          <td>
            <p class="mb-1">Mountain Vermelha</p>
            <p class="text-muted mb-0 info-id">ID: 111-7B</p>
          </td>
          <td class="text-center">
            <span class="badge badge-success rounded-pill d-inline">Pronta</span>
          </td>
          <td class="text-center">4</td>
          <td class="text-center">
            <a href="">Editar</a>
          </td>
        </tr>
        <!-- Gustavo Sousa -->
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <img src="/static/images/tmp/gustavo.png" class="rounded-3" alt=""
                style="width: 45px; height: 45px" />
              <div class="ms-3">
                <p class="fw-bold mb-0">Gustavo Sousa</p>
                <p class="text-muted mb-0">(19) 93464-3549</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">Speed Azul</p>
            <p class="text-muted mb-0 info-id">ID: 195-9C</p>
          </td>
          <td class="text-center">
            <span class="badge badge-primary rounded-pill d-inline">Aguardando</span>
          </td>
          <td class="text-center">19</td>
          <td class="text-center">
              <a href="">Editar</a>
          </td>
        </tr>

      </tbody>
    </table>

  </div>

</div>
{% endblock %}