<div class="loader"></div>

<style>
    .loader {
        /* Statement básico do pre-loader */
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #333333;
        transition: opacity 0.75s, visibility 0.75s;

    }

    /* Esconder o pre-loader depois do seu uso */
    .loader--hiden {
        opacity: 0;
        visibility: hidden;
    }

    /* Responsável pelas animações e formato do pre-loader */
    .loader::after {
        content: "";
        width: 100px;
        height: 100px;
        animation: loading 0.75s ease infinite;
        background: url('/static/images/bike-wheel.png') no-repeat center center;
        background-size: 100%;
    }

    /* Frames do pre-loader */
    @keyframes loading {
        from {
            transform: rotate(0turn)
        }

        to {
            transform: rotate(1turn)
        }
    }
</style>

<script>
    // Mecânica que esconde o loader após o carregamento da página
    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader"); // Jogando a div em uma variável pra facilitar

        loader.classList.add("loader--hiden");

        // Remover o loader do HTML depois da página ser carregada.
        loader.addEventListener("transitionend", () => {
            document.body.removeChild(loader);
        });
    });
</script>