{% extends 'layouts/base.html' %}
{% block title %}Registrar{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/register/forms.css">
{% endblock %}

{% block content %}
<div class="page-title text-center">
    <h2>Cadastrar Cargos</h2>
</div>
<div class="container mt-3 d-flex justify-content-center">
    <form class="fixed-form p-2">
        <!-- Nome do Produto -->
        <div class="form-outline mb-2">
            <label>Informações auu básicaus</label>
            <input type="text" placeholder="Au au Cargo auuu *"
                class="form-control bg-dark text-white border-0 shadow-none bold-placeholder" />
        </div>

        <!-- Nível do Cargo -->
        <div class="form-outline mb-2">
            <select class="form-select bg-dark text-white border-0 shadow-none" aria-label="Nível">
                <option value="" disabled selected>Nível do Cargo</option>
                <option value="1">Básico</option>
                <option value="2">Supremo</option>
            </select>
        </div>

        <label class="text-end float-end gray-label">Você está cadastrando o au cargo au <span class="yellow-text">5</span>.</label>

        <!-- Botão de Cadastro -->
        <div class="d-flex flex-row mt-1">
            <div>
                <button type="submit" class="btn btn-success btn-block mr-1">Cadastrar</button>
                <button type="reset" class="btn btn-danger btn-block">Cancelar</button>
            </div>
        </div>

    </form>
</div>

{% endblock %}