{% extends 'layouts/base.html' %}
{% block title %}Registrar{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/register/forms.css">
{% endblock %}

{% block content %}
<div class="page-title text-center">
    <h2>Cadastrar Serviços</h2>
</div>
<div class="container mt-3 d-flex justify-content-center">
    <form class="fixed-form p-2">
        <!-- Nome -->
        <div class="form-outline mb-2">
            <label>Informações básicas</label>
            <input type="text" placeholder="Serviço *"
                class="form-control bg-dark text-white border-0 shadow-none bold-placeholder" />
        </div>

        <!-- Preço -->
        <div class="form-outline mb-2">
            <input type="text" placeholder="Preço em R$ *" id="price" maxlength="12"
                class="form-control bg-dark text-white border-0 shadow-none bold-placeholder" />
        </div>

        
        <!-- Botão de Cadastro -->
        <div>
            <div>
                <button type="submit" class="btn btn-success btn-block mr-1">Cadastrar</button>
                <button type="reset" class="btn btn-danger btn-block">Cancelar</button>
                <label class="text-end float-end gray-label ms-2">Você está cadastrando o serviço <span
                        class="yellow-text">16</span>.</label>
            </div>
        </div>

    </form>
</div>
<script src="/static/js/numberFloat.js"></script>

{% endblock %}