{% extends 'layouts/base.html' %}

{% block title %}Demandas{% endblock %}
{% block pagetitle %}Demandas{% endblock %}


{% block content %}
<div class="d-flex justify-content-end w-75 mx-auto">
    <div>
        <div class="input-group">
            <select name="" id="" class="form-select me-1 rounded bg-dark border-0">
                <option value=""></option>
                <option value="">salve</option>
            </select>
            <input type="text" placeholder="Filtro Demandas"
                class="form-control border-0 shadow-none bg-dark text-white" />
            <span class="ms-1 p-2 rounded bg-dark" style="font-size:20px; cursor:pointer;">
                <i class="bi bi-search text-white"></i>
            </span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mx-auto rounded h-75 mt-2 w-75" style="background-color: rgb(26, 26, 26);">
    <div class="d-flex gap-2 justify-content-between w-100 p-3">
        <div class="d-flex flex-column text-center w-25">
            <p>Aguardando</p>
            <div class="rounded bg-dark p-3 w-100 h-100 mx-auto">
                {% if aguardando is not none %}
                    {% for key, valor in aguardando.items() %}
                        <div class="rounded w-75 mx-auto" style="cursor:pointer;background-color: rgb(110, 110, 110);"> 
                            <p id="BIKE-{{key}}" data-valor="{{ valor }}" onclick="listaBike(this.id)">
                                <i class="bi bi-bicycle" style="font-size:20px;"></i>
                                BIKE-{{ key }} 
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="d-flex flex-column text-center w-25">
            <p>Em Reparo</p>
            <div class="rounded bg-dark p-3 w-100 h-100 mx-auto">
                {% if emReparo is not none %}
                    {% for key, valor in emReparo.items() %}
                        <div class="rounded bg-secondary w-75 mx-auto" style="cursor:pointer;"> 
                            <p id="BIKE-{{key}}" data-valor="{{ valor }}" onclick="listaBike(this.id)">
                                <i class="bi bi-bicycle" style="font-size:20px"></i>
                                BIKE-{{ key }} 
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="d-flex flex-column text-center w-25">
            <p>Finalizadas</p>
            <div class="rounded bg-dark p-3 w-100 h-100 mx-auto">
                {% if finalizadas is not none %}
                    {% for key, valor in finalizadas.items() %}
                        <div class="rounded bg-secondary w-75 mx-auto" style="cursor:pointer;"> 
                            <p id="BIKE-{{key}}" data-valor="{{ valor }}" onclick="listaBike(this.id)">
                                <i class="bi bi-bicycle" style="font-size:20px"></i>
                                BIKE-{{ key }} 
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="d-flex flex-column text-center w-25">
            <p>Entregues</p>
            <div class="rounded bg-dark p-3 w-100 h-100 mx-auto">
                {% if entregues is not none %}
                    {% for key, valor in entregues.items() %}
                        <div class="rounded bg-secondary w-75 mx-auto" style="cursor:pointer;"> 
                            <p id="BIKE-{{key}}" data-valor="{{ valor }}" onclick="listaBike(this.id)">
                                <i class="bi bi-bicycle" style="font-size:20px"></i>
                                BIKE-{{ key }} 
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!--tela para listagem de dados da bike-->
<div id="formBike" class="position-absolute top-0 w-100 h-100 visually-hidden z-3" style="background-color: rgba(39, 38, 38, 0.623);">
    <div id="mainPageForm" class="w-75 mx-auto p-5 rounded" style="margin-top: 15vh;background-color: rgb(26, 26, 26);">
        <div id="secondPageForm" class="d-flex justify-content-between">
            <!--id da bike-->
            <div>
                <h3 id="identificadorBike"></h3>
            </div>
            <!--botoes-->
            <div>
                <div>
                    <a class="" id="">&nbsp;</a>
                    <a class="" id="">&nbsp;</a>
                    <a class="" style="cursor:pointer;" onclick="fecha()">X</a>
                  </div>
            </div>
        </div>
        <form action="">
            <div class="d-flex gap-2">

                <div class="container">
                    <div class="row">
                      <label for="modelo">Modelo</label>
                      <input class="form-control bg-dark border-0 shadow-none text-white" type="text" id="modelo" value="">
                    </div>
        
                    <div class="row">
                      <label for="estado">Estado</label>
                      <input class="form-control bg-dark border-0 shadow-none text-white" type="text" id="estado" value="">
                    </div>
                    
                    <div class="row">
                      <label for="condicao">Condição</label>
                      <input class="form-control bg-dark border-0 shadow-none text-white" type="text" id="condicao" value="">
                    </div>
                      
                    <div class="row">
                      <label for="aro">Aro</label>
                      <input class="form-control bg-dark border-0 shadow-none text-white" type="text" id="aro" value="">
                    </div>
                    
                    <div class="row">
                      <label for="quadro">Quadro</label>
                      <input class="form-control bg-dark border-0 shadow-none text-white" type="text" id="quadro" value="">
                    </div>
                      
                    <div class="row">
                      <label for="cor">Cor</label>
                      <input class="form-control bg-dark border-0 shadow-none text-white" type="text" id="cor" value="">
                    </div>
                 </div>
                 
                 <div class="container">
                  <div class="row">
                    <label for="resp">Responsável</label>
                    <input class="form-control bg-dark border-0 shadow-none text-white" type="text" id="resp" value="">
                  </div>
        
                  <div class="row">
                    <label for="cliente">Cliente</label>
                    <input class="form-control bg-dark border-0 shadow-none text-white" type="text" id="cliente" value="">
                  </div>
        
                  <div class="row">
                    <label for="obs">Obs</label>
                    <textarea class="form-control bg-dark border-0 shadow-none text-white" type="text" id="obs">
                    </textarea>
                  </div>
                 </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/demandas.js"></script>

{% endblock %}